---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in paginator.posts %}

      {% include postPreview.html post=post %}

    {% endfor %}
  </ul>

  <div class="paginator">
    {% if paginator.next_page_path %}
      <a href="{{ paginator.next_page_path }}" class="paginator-btn"> &lt;&lt; Posts anteriores</a>
    {% endif %}
    {% if paginator.previous_page_path %}
      <a href="{{ paginator.previous_page_path }}" class="paginator-btn">Posts siguientes &gt;&gt;</a>
    {% endif %}
  </div>

  <p class="rss-subscribe">Usás RSS? <a href="{{ "/feed.xml" | prepend: site.baseurl }}">suscribite!</a></p>

</div>
