/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    #logo {
      width: 140px;
      height: 140px;
      background: transparent url(/img/logo.png) 0 0 no-repeat;
      margin-bottom: 10px;
    }

    .col-1 {
      width: 30%;
      float: left;
    }
    .col-2 {
      width: 70%;
      text-align: center;
    }
    @include media-query($on-palm) {
      .col-2 {
        width: 100%;
        text-align: right;
      }
      .site-nav {
        top: 114px;
      }
    }
    h1 {
      margin-bottom: 0;
      margin-top: 10px;
    }
    .site-description {
      color: $grey-color;
    }
}

.site-title {
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: 56px;
    text-align: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        padding: 7px;
        border-bottom: 2px solid;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 2px;
        }

        &:hover {
          background-color: $front-color;
          color: $grey-color-dark;
          border-bottom: 3px solid $front-color-dark;
          text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;

    a {
      font-weight: bold;
      color: $grey-color-light;
      padding: 5px;

      &:hover {
        color: $grey-color-dark;
        background-color: $front-color;
        text-decoration: none;

        svg * {
          fill: $grey-color-dark;
        }
      }

      &:visited {

      }
    }

    .disclaimer {
      color: $grey-color-light;
      float: left;
      a {
        text-decoration: underline;
        text-decoration-style: dashed;
        padding: 3px;
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    text-transform: uppercase;
    float: left;
    margin-right: 15px;
    color: $front-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    li {
      display: inline;
      padding: 10px;
    }
    @include media-query($on-palm) {
      li {
        display: block;
        float: left;
        padding: 1px;
      }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        //margin-bottom: $spacing-unit;
        border-bottom: 1px solid $grey-color-light;
        padding: 10px;
    }

    h2 {
      margin: 0;
      // font-family: 'Source Sans Pro', sans-serif;
      // font-weight: bold;

      a {
        color: $grey-color-dark;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;

        &:visited {

        }
        &:hover {
          color: $front-color;
          background-color: transparent;
        }
      }

    }

    .post-category {
      border: 1px solid $grey-color-light;
      padding: 4px;
      float: right;
      margin-left: 4px;

      color: #303030;

      &:visited {
        color: #303030;
      }
      &:hover {
        text-decoration: none;
        background-color: $front-color;
      }
    }

    .post-date {
      padding: 4px;
    }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*
* 404 not found
*/

.not-found {

  #invaders-container {
    width: 600px;
    height: 400px;
    position: relative;
    margin: auto;

    canvas {
      background-color: black;

      &:fullscreen{
        width: 100% !important;
        height: 100% !important;
        display: block;
      }
      &:-webkit-full-screen{
        width: 100% !important;
        height: 100% !important;
        display: block;
      }
      &:-moz-full-screen {
        width: 100% !important;
        height: 100% !important;
        display: block;
      }
    }

    .splash {
      position: absolute;
      width: 600px;
      height: 400px;
      top: 0;
      left: 0;
      background-image: url('/img/fernetjs-invaders.png');
      opacity: 0;
      display: none;
      z-index: 2;
      text-align: right;
      float: right;
    }
  }

  #invaders-footer {
    width: 600px;
    margin: auto;
    padding: 10px 5px;
  }

}
